@model IEnumerable<TheBugTracker.Models.Project>
@using TheBugTracker.Models.Enums
@using Microsoft.AspNetCore.Identity
@using TheBugTracker.Services.Interfaces

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
  ViewData["Title"] = "All Projects";
  //gets all user information
  BTUser btUser = await UserManager.GetUserAsync(User);
}


@if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.Admin)))
{
<div class=" mt-15 text-center">
  <p>
    <a class="btn btn-warning btn-rounded" asp-action="Create">Create New Project</a>
  </p>
</div>

}
<div class="row">

  @* Projects Table *@
  <div class="col">
    <div class="bg-secondary">
      <div class="card m-1 p-2">
        <div class="card-header">
          <h2 class="bg-info rounded text-center">All Projects</h2>
        </div>
        <div class="card-body">

          <div class="table-responsive" style="overflow-y:auto;height:600px;">
            <table class="table table-hover">
              <thead class="">
                <tr>
                  @* Table header *@

                  <th>Name</th>
                  <th>Image</th>
                  <th>Project Manager</th>
                  <th>StartDate</th>
                  <th>EndDate</th>
                  <th>Priority</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                @* Table body *@
                @foreach (var project in Model.OrderByDescending(d => d.EndDate))
                {
                  BTUser projectManager = await ProjectService.GetProjectManagerAsync(project.Id);
                  <tr>
                    <td><a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" style="color:black"><strong>@project.Name</strong></a></td>
                    <td>
                      @if (project.ImageFileData != null)
                      {
                        <img style="width:45px;height:45px" src="data:image/*;base64,@(Convert.ToBase64String(project.ImageFileData))" alt="Missing Image" />
                      }
                      else
                      {
                        <img style="width:45px;height:45px" src="~/img/cbwellls/DragonflyLogo300.png" />
                      }
                    </td>
                    @if (projectManager != null)
                    {
                      <td>
                        @if (projectManager.AvatarFileData != null)
                        {
                          <img class="rounded-circle" style=" width:15px;height:15px;" src="data:image/*;base64,@(Convert.ToBase64String(projectManager.AvatarFileData))" alt="" />
                        }
                        else
                        {
                          <img class="rounded-circle" style=" width:30px;height:30px;" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="" />
                        }
                        @projectManager.FullName


                      </td>
                    }
                    else
                    {
                      <td>
                        <span><a asp-action="AssignPM" asp-route-projectId="@project.Id" class="btn btn-xs btn-outline-info">Assign PM</a></span>
                      </td>
                    }


                    <td> <span style="font-size:small">@project.StartDate.ToString("MM.dd.yyyy")</span> </td>
                    <td> <span style="font-size:small">@project.EndDate.ToString("MM.dd.yyyy")</span> </td>
                    <td> <span class="badge bg-dark">@project.ProjectPriority?.Name</span> </td>
                    <td>
                      <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id"><i class="fs-5 bi-justify" title="Details"></i></a>

                      @{
                        bool isProjectPM = (await ProjectService.GetProjectManagerAsync(project.Id))?.Id == btUser.Id;

                      }

                      @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                      {
                        <a class="btn btn-sm btn-outline-warning" asp-action="Edit" asp-route-id="@project.Id"><i class="fs-5 bi-pencil" title="Edit"></i></a>
                        <!--razor syntax runs on server-->
                        @if (project.Archived)
                        {
                          <a class="btn btn-sm btn-outline-success" asp-action="Restore" asp-route-id="@project.Id"><i class="fs-5 bi-plug" title="Restore"></i></a>

                        }
                        else
                        {
                          <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-route-id="@project.Id"><i class="fs-5 bi-archive" title="Archive"></i></a>
                        }
                      }

                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>



</div>



