@model TheBugTracker.Models.ViewModels.ProcessInviteViewModel

@{
  ViewData["Title"] = "ProcessInvite";
}

<div class="card text-center">

  <div class="card-body">
    <h5 class="card-title">Welcome Aboard!!!</h5>
    <p class="card-text">
      @Model.InvitorName would like you to join our company
      @Model.CompanyName to collaborate on the
      @Model.ProjectName project.
    </p>
    <a asp-area="Identity" asp-page="/Account/RegisterByInvite" asp-route-id="@Model.Invite.Id" asp-route-companyId="@Model.Invite.CompanyId" class="btn btn-primary">Accept Invite</a>
  </div>
</div>